/*	RED		BLUE
*	#E74C3C	#4B77BE
*/

html, body {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
 	box-sizing: border-box;         /* Opera/IE 8+ */	
 	height: 100%;
}

#container {
	position: absolute;
	height: 100%;
	width: 100%;
	color: white;
	font-family: 'Ubuntu Condensed', sans-serif;
}

#pointsDiv {
	float: left;
	width: 48%;
	height: 9%;
	margin-left: 1%;
	margin-top: 1%;
}

#timeDiv {
	float: left;
	width: 48%;
	height: 9%;
	margin-right: 1%;
	margin-top: 1%;
	text-align: right;
}

#cyrillic {
	height: 50%;
	width: 100%;
	background-color: #E74C3C;
}

#cyrillicContent {
	float: left;
	width: 100%;
	height: 89%;
	margin-top: 1%;
	padding-top: 5%;
	text-align: center;
	font-size: 9em;
}

#nonCyrillic {
	height: 50%;
	width: 100%;
	background-color: #4B77BE;
}

#nonCyrillicContent {
	float: left;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 9em;
}